
[mcu orbitoolO2]
#serial:/dev/serial/by-id/usb-Klipper_stm32f042x6_OrbitoolO2-if00
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0C001A000243304353373720-if00
baud: 250000
restart_method: command

###########################################################################################
###################################### RUN LED config #####################################
###########################################################################################

[output_pin O2run_led]
pin = orbitoolO2:PB8
value: 1
shutdown_value: 0

###########################################################################################
###################################### Extruder config ####################################
###########################################################################################

# you may need to change some setting based on the hotend type you have

[extruder]
step_pin = orbitoolO2:PB7
#dir_pin = !orbitoolO2:PB6 #orbiter quatro
dir_pin = orbitoolO2:PB6 #orbiter 2
enable_pin = !orbitoolO2:PB4
microsteps = 32
rotation_distance = 4.69 # Orbiter v2
#rotation_distance = 2.18 # Orbiter quatro
full_steps_per_rotation = 200
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = orbitoolO2:PA0
sensor_pin = orbitoolO2:PA3
pullup_resistor = 2200
sensor_type = ATC Semitec 104GT-2 # hotend speciffic
min_temp = 0
max_temp = 300 # hotend speciffic
pressure_advance = 0.02
pressure_advance_smooth_time = 0.03
max_extrude_only_distance = 500.0
max_extrude_cross_section = 20
min_extrude_temp = 180
#min_extrude_temp = 30
smooth_time = 0.5
max_power: 0.995 # limit heater power to 99.5% to enable autorecovery from short detection
pwm_cycle_time: 0.00500
control = pid # hotend speciffic
pid_Kp=23.145 
pid_Ki=1.513 
pid_Kd=88.532

[tmc2209 extruder]
uart_pin: orbitoolO2:PB5
interpolate = False
run_current = 0.8 # Orbiter 2
#run_current = 0.6 # Orbiter quatro
#hold_current = 0.100
sense_resistor = 0.11
stealthchop_threshold = 0

[firmware_retraction]
retract_length: 1.2
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 120
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 120
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[adc_temperature HOT_P]
#temperature1:5 # value in Ampere
temperature1:120 # value in Watts
#voltage1:1.32
voltage1:1.91 
#temperature2:10 # value in Ampere
temperature2:240 # value in Watts
voltage2:3.82 
#voltage2:2.64

[temperature_sensor Hotend_power]
sensor_pin: orbitoolO2:PA2 
sensor_type: HOT_P

###########################################################################################
###################################### Fan's config #######################################
###########################################################################################

[heater_fan hotend_Fan]
pin: !orbitoolO2:PA9  
tachometer_pin: orbitoolO2:PA8
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
heater: extruder
cycle_time: 0.0001 #10KHz PWM frecvency
heater_temp: 75
fan_speed: 0.6
hardware_pwm: false
shutdown_speed: 0.0
max_power: 0.7 #setup specific

[fan]
pin: orbitoolO2:PA10
max_power: 0.995
shutdown_speed: 0.0
cycle_time: 0.02
kick_start_time: 0.2
hardware_pwm: False

[fan_generic tool_Fan]
pin: orbitoolO2:PB1
max_power: 0.995
shutdown_speed: 0.0
cycle_time: 0.02
kick_start_time: 0.2
hardware_pwm: False

###########################################################################################
###################################### RGB config #########################################
###########################################################################################

[neopixel OrbiLED]
pin: orbitoolO2:PA1
chain_count: 2 #setup specific
color_order: GRB  #setup specific
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.1

###########################################################################################
###################### Toolboard temperature sensor config ################################
###########################################################################################

## STM32 MCU temp
[temperature_sensor toolboard]
sensor_type: temperature_mcu
sensor_mcu: orbitoolO2
min_temp: 0
max_temp: 100

###########################################################################################
###################### Onboard accelerometer and resonance tester config ##################
###########################################################################################

[lis2dw]
cs_pin: orbitoolO2:PA4
spi_bus: spi1
axes_map: y, z, x

[resonance_tester]
accel_chip: lis2dw
probe_points: 140,120,30  # XYZ head position for testing
min_freq: 10
max_freq: 200


#[bltouch]
#sensor_pin: orbitoolO2:PA15
#   Pin connected to the BLTouch sensor pin. Most BLTouch devices
#   require a pullup on the sensor pin (prefix the pin name with "^").
#   This parameter must be provided.
#control_pin: orbitoolO2:PB3
#x_offset:1
#y_offset:1
#z_offset:1

#BQ microprobe configuration
#[gcode_macro Probe_Deploy]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=1

#[gcode_macro Probe_Stow]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=0

#[output_pin probe_enable]
#pin: orbitoolO2:PB3        # Change this to the Servo/control pin number for your board.
#value: 0

#[probe]
#pin: !orbitoolO2:PA15     # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
#deactivate_on_each_sample: False
#x_offset: 1                    # Change the probe offsets to meet your machine requirements.
#y_offset: 1
#z_offset: 1.460
#speed: 5.0
#samples: 2
#sample_retract_dist: 2.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#activate_gcode:
#    Probe_Deploy
#    G4 P500 #allow time for probe to deploy before homing Z
#deactivate_gcode:
#    Probe_Stow


